/* .logo {
    position: fixed; top: 0; left:0;
    right: 90%;
    top: -3.5%;
    height: 80px;
    width: 200px;
  } */
/* ---------------------------------------- */
/* NAVBAR */
/* .nav-item-logo {
  position: relative;
  size: 10px;
} */

.navbar {
  height: 103px;
}

/* .navbar .logo {
  position: fixed;
  width: 25px;
  height: 10px;
} */

  
/* ---------------------------------------- */
/* INDEX */

/* ---------------------------------------- */
/* ABOUT ME */

/* ---------------------------------------- */
/* MY WORK */

/* ---------------------------------------- */
/* CONTACT */

